@import "tailwindcss";

/* the stuff below came w the setup idk what it does lowk */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button, 
.cta-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
  color: white; 
}

button:hover,
.cta-button:hover {
  border-color: #646cff;
}


.cta-button.link-style-on-hover:hover {
  background-color: transparent; 
  border: 1px solid; 
  color: #646cff;
  border-color: #646cff;
  padding: 0.5em 0.7em; 
  box-shadow: none; 
}
